.contato {
    height: 100vh;
    position: relative;
}

.contato-bg {
    width: 20px;
    height: 100%;
    background-color: #59b256;
    position: absolute;
}

.c-wrapper {
    padding: 50px;
    display: flex;
}

.contato-left {
    flex: 1;
}

.contato-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contato-title {
    font-size: 60px;
    width: 80%;
}

.contato-info-item {
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 70%;

}

.contato-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.contato-desc {
    font-weight: 200;
}

.form {
    margin-top: 20px;
}

input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding: 10px;
}

button {
    border: none;
    padding: 15px;
    background-color: #59b256;
    color: white;
    font-weight: 500;
    cursor: pointer;

}



/*-------------------*/

@keyframes paperplane-anim {
    0% {
        transform: rotate(50deg) translate(-500px, -250px);
        opacity: 0
    }

    30% {
        transform: rotate(50deg) translate(-500px, -250px);
        opacity: 0
    }

    100% {
        transform: rotate(0) translate(0, 0);
        opacity: 100
    }
}

.content .intro .anim .paperplane svg {
    margin-top: 0
}













@media screen and (max-width:480px) {
    .c-wrapper {
        flex-direction: column;
        padding: 0px 50px;
    }

    .contato-title {
        font-size: 30px;
    }

    .contato-info-item {
        margin: 20px 0px;
        width: 100%;
    }

    .contato-desc {
        display: none;
    }

    form {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    input {
        width: 35%;
        height: 40px;
        margin: 10px;
    }

    button {
        margin-top: 10px;
    }
}