.contato {
    height: 100vh;
    position: relative;
}

.contato-bg {
    width: 20px;
    height: 100%;
    background-color: #59b256;
    position: absolute;
}

.c-wrapper {
    padding: 50px;
    display: flex;
}

.contato-left {
    flex: 1;
}

.contato-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contato-title {
    font-size: 60px;
    width: 80%;
}

.contato-info-item {
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 70%;

}

.contato-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.contato-desc {
    font-weight: 200;
}

.form {
    margin-top: 20px;
}

input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding: 10px;
}

button {
    border: none;
    padding: 15px;
    background-color: #59b256;
    color: white;
    font-weight: 500;
    cursor: pointer;

}

/*------------------*/

.paperplane {
    position: absolute;
    left: 100px;
    top: 250px;
    animation: move 12s infinite;
    margin-left: 260px;

}



/*------------------*/

.flex {
    display: flex
}

.justify-center {
    justify-content: center
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.rounded-full {
    border-radius: 9999px;
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color)
}

.shadow-md {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-gray-400 {
    --tw-shadow-color: #9ca3af;
    --tw-shadow: var(--tw-shadow-colored)
}

.p-4 {
    padding: 1rem
}

.cursor-pointer {
    cursor: pointer
}



.ease-in {
    transition-timing-function: cubic-bezier(.4, 0, 1, 1)
}

.duration-300 {
    transition-duration: .3s
}


@media screen and (max-width:667px) {
    .c-wrapper {
        flex-direction: column;
        padding: 0px 50px;
    }

    .contato-title {
        font-size: 30px;
    }

    .contato-info-item {
        margin: 20px 0px;
        width: 100%;
    }

    .contato-desc {
        display: none;
    }

    form {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    input {
        width: 35%;
        height: 40px;
        margin: 10px;
    }

    button {
        margin-top: 10px;
    }

    .paperplane {
        display: none;
    }

    .py-12 {
        width: calc((80% / 3) + 1rem);
        position: relative;

    }

}


@media screen and (max-width:1200px) {
    .paperplane {
        display: none;
    }
}