.navHead {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.navCorpo .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    position: relative;
    float: left;
}

.navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}


.navHead .navbar ul li a:hover {
    background-color: #333;
    color: #ffffff;
}

.navHead .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

.navHead .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);

}

.navHead .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}


.navHead .navbar ul li:focus-within>ul,
.navHead .navbar ul li:hover>ul {
    display: initial;

}

/*-------Endnavbar-------*/


.i {
    display: flex;
    height: 100vh;

}

.i-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.i-right {
    flex: 1;
    position: relative;
}

.i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro {
    font-size: 30px;
    font-weight: 300px;
}

.i-name {
    font-size: 60px;
}

.i-title {
    height: 50px;
    overflow: hidden;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(-100px);
    }

    75% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(-20 0px);
    }
}

.i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #5693b2;
    display: flex;
    align-items: center;
}

.i-scroll {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
}

.i-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.i-bg {
    clip-path: polygon(100% 0%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #bd83cf;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#menu-bar {
    display: none;
}

.navHead label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}




@media(max-width:991px) {
    .navHead {
        padding: 20px;
    }

    .navHead label {
        display: initial;
    }

    .navHead .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;

    }

    .navHead .navbar ul li {
        width: 100%;
    }

    .navHead .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    .navHead .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked~.navbar {
        display: initial;
    }


}


@media screen and (max-width:640px) {
    .i {
        flex-direction: column;
    }

    .i-intro {
        text-align: center;
    }

    .i-desc {
        display: none;
    }

    .i-left-wrapper {
        justify-content: center;
        margin-left: -180px;
    }

}




@media screen and (max-width:768px) {
    .i {
        flex-direction: column;
    }

    .i-intro {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .i-left-wrapper {
        padding: 10px;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    .i-desc {
        display: none;
    }

    .i-title-wrapper {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width:1200px) {
    .i {
        flex-direction: column;

    }

    .i-desc {
        display: none;
    }

    .i-left-wrapper {
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-left: 180px;
        padding-top: 50px;
    }

    .i-title-wrapper {
        padding: 40px;
    }
}